html, body {
  font-size: 10px;
}

.my-class {
  display: grid;
  grid-template-columns: 2fr 7fr;
  width: 100%;
  margin: 0 auto;
}

.news__header {
  text-align: center;
  font-size: 4.5rem;
}

.news__channel-list {
  margin-top: 2px;
}

.news__channels-header, .news__artclies-header {
  font-size: 1.5rem;
  height: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.news__artclies-header {
  text-align: center;
}

 img {
   width: 100% !important;
   height: auto !important;
 }

 section {
   margin: 2px;
 }

.news-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.news-channel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  vertical-align: middle;
  padding: 1rem 1rem;
  cursor: pointer;
}

.loader {
  position: relative;
  height: 5rem;
}

.circle-loader {
  position: absolute;
  top: 50%;
  left: 45%;
  border: 6px solid transparent;
  border-top-color: #b8b9a;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 50%;
  animation: loader-animation 1s linear infinite;
}

.active-channel {
  background: #d8d9da;
}

.loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  color: #d8d9da;
  transform: translate(-50%, -50%);
}

@keyframes loader-animation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (min-width:650px) {
  html, body {
    font-size: 13px;
  }

  .my-class {
    width: 96%;
  }
}

@media (min-width:1025px) {
  html, body {
    font-size: 15px;
  }

  .my-class {
    width: 90%;
  }
}

@media (min-width:1281px) {
  html, body {
    font-size: 17px;
  }

  .my-class {
    width: 65%;
  }
}
